.custom-file-input ~ .custom-file-label::after{
    content: "Cargar";
}

.center {
    display: grid;
    place-items: center;
}

.control-edit{
    margin: 20px 10px;
}

.form-update-data{
    margin-top: 20px;
    margin-bottom: 40px;
    
}

.col_without_padding{
    padding: 0px !important;
}

.style_iframe{
    min-height: 1000px !important;
    min-width: 100% !important;
    height: 100%;
}

.position-relative {
    position: relative !important;
}

.full_iframe_div{
    height: 100% !important;
    width: 100% !important;
}

.filters{
    margin:auto;
    max-width: 800px;
}

.form-check{
    margin: auto;
}

#observation {
    height: 100px;;
}

#SaveData {
    margin-top: 50px;;
}

