:root {
    --gray: #EAEBF3;
    --dark-gray: #6c757d;
    --title: #6c757d;
    --black: #000000;
    --cyan: #0dcaf0;
    --blue-primary :#0d6efd;
    --text-sm: 10px;
    --text-md: 12px;
    --text-lg: 14px;
}

.text-sm {
    font-size: var(--text-sm);
    text-align: center;
    margin: 0;
}

.text-md {
    font-size: var(--text-md);
    text-align: center;
    margin: 0;
}

.text-lg {
    font-size: var(--text-lg);
    text-align: center;
    margin: 0;
}

.custom-file-input ~ .custom-file-label::after{
    content: "Cargar";
}

body{
    color: var(--black);
    font-family: var(--bs-font-sans-serif);
}

.center {
    display: grid;
    place-items: center;
}

.control-edit{
    margin: 20px 10px;
}

.title{
    margin: 25px 0px;
    color: var(--title);
}

.form-update-data{
    margin-top: 20px;
    margin-bottom: 40px;
    
}

.col_without_padding{
    padding: 0px !important;
}

.style_iframe{
    min-height: 1000px !important;
    min-width: 100% !important;
    height: 100%;
}

.position-relative {
    position: relative !important;
}

.full_iframe_div{
    height: 100% !important;
    width: 100% !important;
}

.filters{
    margin:auto;
    max-width: 800px;
}

.form-check{
    margin: auto;
}

#observation {
    height: 100px;;
}

#SaveData {
    margin-top: 50px;;
}

